<div class="footer">
  <span>Copyright &copy; Hritik Agarwal 2020-21</span>
</div>
<script src="/JS/jquery3.5.1.main.js"></script>
<script src="/JS/owl.carousel.min.js"></script>
<script src="/JS/script.js"></script>
</body>
</html>